/* COLORS */

// absolute
$absolute-white: #FFF;
$absolute-black: #000;

// purple
$purple-60: #703BF7;
$purple-65: #8254F8;
$purple-70: #946CF9;
$purple-75: #A685FA;
$purple-90: #DBCEFD;
$purple-95: #EDE7FE;
$purple-97: #F4F0FE;
$purple-99: #FBFAFF;

// white
$white-90: #E4E4E7;
$white-95: #F1F1F3;
$white-97: #F7F7F8;
$white-99: #FCFCFD;

// gray
$gray-08: #141414;
$gray-10: #1A1A1A;
$gray-15: #262626;
$gray-20: #333333;
$gray-30: #4D4D4D;
$gray-40: #666666;
$gray-50: #808080;
$gray-60: #999999;

/* FONTS */
$main-font: 'Urbanist', sans-serif;

/* FONTS-SIZE */
$h1-large: 60px;
$h1-medium: 46px;
$h1-small: 28px;

$h2-large: 48px;
$h2-medium: 38px;
$h2-small: 28px;

$h3-large: 24px;
$h3-medium: 20px;
$h3-small: 18px;

$p-large: 18px;
$p-medium: 16px;
$p-small: 14px;

